<ion-view view-title="Sobre">
    <ion-nav-bar class='bar-light'>
        <ion-nav-back-button>Voltar</ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content>
        <div class="backg">
            <br>
            <div class="card">
                <center><h4>Missão</h4></center>
                O Grupo Educacional FACINEPE constitui-se num mantenedor de diversas Instituições de Ensino Superior comprometidas com a excelência educacional que tem como principal missão ofertar cursos, por meio de suas Faculdades mantidas, em todos os níveis, isto é, de Graduação, de Pós-Graduação (Lato Sensu) e de Extensão, nas diversas áreas do conhecimento humano, com ensino de excelência, de qualidade e sempre a custos competitivos, com corpo docente qualificado, colaborando com a formação continuada dos diversos profissionais inseridos na sociedade.  
            </div>    
            
            <div class="card">
                <center><h4>Visão</h4></center>
                O Grupo Educacional FACINEPE visa a ser referência nacional e internacional para o desenvolvimento socioeconômico das pessoas, com base na capacitação científica, tecnológica e profissional da população, por meio da formação superior nos mais variados campos de atuação, como integradora de soluções educacionais, com vistas ao bem comum e à prosperidade da sociedade. Busca também ser líder nacional absoluto na oferta de pós-graduação lato sensu, nas mais diversas áreas do conhecimento, especialmente na área da saúde, tanto em número de alunos, quanto em qualidade e reconhecimento social até 2018.  
            </div>
        </div>
    </ion-content>
</ion-view>