<ion-view view-title="Login">
    <ion-content>
        <div class="backg" ng-controller="AppCtrl">

            <div class="button-center-main">
        

                <div class="row first-row">
                    <button class="button icon ion-home" id="afasta" name="sobre" ng-click="go('about')"></button>
                    <button class="button icon ion-university" id="afasta" name="cursos" ng-click="go('courses')"></button>
                    <button class="button icon ion-clipboard" id="afasta" name="disciplinas" ng-click="go('subjects')"></button>
                </div>
                <div class="row second-row">
                    <button class="button icon ion-calendar" id="afasta" name="calendar"></button>
                    <button class="button icon ion-email-unread" id="afasta" name="recadoProfessores"></button>
                    <button class="button icon ion-ribbon-b" id="afasta" name="notas"></button>
                </div>
                <div class="row third-row">
                    <button class="button icon ion-erlenmeyer-flask" id="afasta"></button>
                    <button class="button icon ion-android-pin" id="afasta"></button>
                    <button class="button icon ion-ios-paper" id="afasta"></button>            
                </div>
                <div class="row fourty-row">
                    <button class="button icon ion-document-text" id="afasta"></button>                
                    <button class="button icon ion-android-call" id="afasta" ng-click="go('phones')"></button>
                    <button class="button icon ion-chatboxes" id="afasta"></button>
               
            </div> 
                </div> 
        </div>
    </ion-content>
</ion-view>